@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft.eot');
    src: local('Minecraft'), local('Minecraft'),
        url('Minecraft.eot?#iefix') format('embedded-opentype'),
        url('Minecraft.woff2') format('woff2'),
        url('Minecraft.woff') format('woff'),
        url('Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

